name: Taegliches Scraping
on:
  schedule:
    - cron: '0 12 * * *' # Täglich 13:00 Uhr Schweizer Zeit
  workflow_dispatch: # Erlaubt manuelles Starten

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: pip install requests beautifulsoup4
      - name: Run Scraper
        run: python scraper.py
      - name: Commit & Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add urteile.json
          # Der Trick: Wir fügen '|| exit 0' hinzu, damit kein Fehler gemeldet wird, wenn nichts neu ist
          git commit -m "Update Urteile: $(date +'%Y-%m-%d %H:%M')" || exit 0
          git push
