name: Tägliches Scraping
on:
  schedule:
    - cron: '0 12 * * *' # Läuft täglich um 12:00 UTC (13:00 Uhr Schweizer Zeit)
  workflow_dispatch: # Ermöglicht es Ihnen, das Skript jederzeit manuell zu starten

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: pip install requests beautifulsoup4
      - name: Run Scraper
        run: python scraper.py
      - name: Commit & Push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add urteile.json
          git commit -m "Daten aktualisiert" || exit 0
          git push
